<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>首页</title>

<script src="../static/jquery.mobile-1.4.5/jquery-1.11.1.js"
	type="text/javascript"></script>
	

<link href="../static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.css"
	rel="stylesheet" type="text/css">
<script src="../static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.js"
	type="text/javascript"></script>
<script src="../static/cfzd-list-binding/list-binding.js"
	type="text/javascript"></script>
<!--	  <script src="infinite-scroll/js/admin/infinite-scoll.js" type="text/javascript"></script>-->
</head>

<body>
	<div data-role="page" id="page">
	<div  data-role="header" data-position="fixed">
		<div  data-role="tabs">
			<div data-role="navbar">
				<ul id="tabs">
					<li><a href="#anylink"  data-article-type="calligraphy" >书法</a></li>
					<li><a href="#anylink" data-article-type="painting"  data-ajax="false">绘画</a></li>
					<li><a href="#anylink" data-article-type="goldstone"  data-ajax="true" >金石</a></li>
					<li><a href="#anylink" data-article-type="other">另有</a></li>
				</ul>
			</div>
			<div id="anylink"  ></div>

		</div>
	</div>
		<div  data-role="content">	
       	<ul data-role="listview" id="posts" >
       	       
		</ul>
		<div id="load" style="display:none;margin-top:2em;margin-left:-1em;margin-right:-1em"><a class="ui-btn ui-state-disabled" href="#">正在加载</a> </div>
       </div>
		<div data-role="footer" data-position="fixed"  id="footer">
			<div data-role="navbar">
				<ul>
					<li><a href="./index" data-icon="home"  rel="external">首页</a></li>
					<li><a href="./category" data-icon="info"
						class="ui-btn-active ui-state-persist"  rel="external">分类</a></li>
					<li><a href="#anylink" data-icon="plus">发布</a></li>
					<li><a href="#anylink" data-icon="check">关注</a></li>
					<li><a href="#anylink" data-icon="gear">我的</a></li>
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(
				function() {
					var ListView;
					ListView=function ListView(element, options) {
					var defaults;
                    defaults = {
						limit:5,
						beginload:function(){
						},
						endload:function(){
						}
					};
						this.options = $.extend({}, defaults, options);
						this.target=element;
						this.articleType="calligraphy";
						this.limit=5;
						this.scroll=false;
						this.dataProvider=[];
						this.articleTypeChanged=false;
						this.dataProviderChanged=false;
					};
					ListView.prototype.setScroll=function(){
						this.scroll=true;
					};
					
					ListView.prototype.itemRender=function(item){
						return '<li data-icon="false"><a href="#"><img style="width:100%" src="'+item.icon+'" /><h2>'+ item.title+ '</h2><p>'+ item.title+ '</p></a></li>';
					};
					ListView.prototype.getDataProvider=function(){
						if (typeof(this.dataProvider[this.articleType]) == "undefined"){
							this.dataProvider[this.articleType]=[];
						}
						return this.dataProvider[this.articleType];
					};
					ListView.prototype.getRemoteData=function(){
					
						var start=this.getDataProvider().length;
						var _this=this;
						_this.options.beginload.apply(null,[]);
						$.get('article?articleCateType='+this.articleType+'&start='+start+'&limit='+this.limit, function(data, status) {
						_this.options.endload.apply(null,[]);
							if (data!=null){
									$.merge(_this.dataProvider[_this.articleType],data);
									_this.dataProviderChanged=true;
							}
						});
					};
					ListView.prototype.setArticleType=function(articleType){
						if (this.articleType!=articleType){
						  this.articleType=articleType;
						  this.articleTypeChanged=true;
						  }
					};
					ListView.prototype.refresh=function(){
						if (this.scroll){
							lisview.getRemoteData()
							this.scroll=false;
						}

						if (!this.articleTypeChanged  && !this.dataProviderChanged ){
							return;
						}
						if (this.articleTypeChanged || this.dataProviderChanged){
							this.target.empty();
						}
						var _this=this;
						$.each(this.getDataProvider(),function(index, value) {
							_this.target.append(_this.itemRender.apply(null,[value]));
						});
						
						this.target.listview( "refresh" );
						this.articleTypeChanged=false;
						this.dataProviderChanged=false;
						
					};
					ListView.prototype.run=function(){
						var _this = this;
						return setInterval(function() {
							_this.refresh();
						},500); 
					return ListView;
					};
					
					var lisview=new ListView($('#posts'),{beginload:function(){
					  $("#load").css("display","block");
					},endload:function(){
					  $("#load").css("display","none");

					}});
					lisview.run();
					
					//$("#tabs").tabs({ active: 1 });
					//$( "#tabs" ).tabs( ["option", "active", 1] );
					$("#tabs a").click(function () {
					    var b=this;
						lisview.setArticleType(this.attributes.getNamedItem('data-article-type').nodeValue);
						lisview.getRemoteData();
					});
					$('#tabs').tabs();
					//$('#tabs').tabs({selected:0});
					//'li:first'('#tabs').tabs({active:0});
                     $('#tabs >li:first>a').addClass("ui-btn-active");

					$(window).scroll(function(){
						if ($(document).height() - $(window).height()== $(window).scrollTop()){
							lisview.setScroll();
						}
					});
					
				});
	</script>
</body>
</html>
